.conteudo-login{
  background: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logar{
  background: pink;
  width: 150px;
  height: 40px;
}